div{
	/*border:1px solid #123123;*/
}

#mainframe{
	margin-top:100px;
	width:100%;
	border: 0px;
	min-height:86vh;
}


.bg-wide{
	/*background-color: rgba(41,171,226,1);*/
}

.uhead{
	background-color: rgba(255,255,255,1);
	margin-top:15px;
}

.mainbanner{
	/*background-image: url("../res/img/cargoship.png");
	background-repeat: no-repeat;
	background-size:100%;*/
	height:500px;
}
.maincontent{
	margin-top:5px;
	margin-bottom:5px;
	background-color: rgba(0,113,188,1);
}



.contrast{
	background-color: rgba(255,255,255,1);
}

.router{
	background-image: url("../res/img/map.png");
	background-color: rgba(171,171,226,.4);
	background-repeat: no-repeat;
	background-size:100%;
	height:440px;
}

.router .title{
	text-align: center;
	margin-top: 170px;
	padding:40px;
	color:rgba(255,255,255,1);
	background-color: rgba(100,100,100,.4);
	border-radius: 15px;
}



.logo{
	margin:5px;
	height: 50px;
}
.mainlogoholder{
	text-align: center;
}

.menu2{
	height:100%;
	border:0px;
}

.menu2 li a{
	color:rgba(255,255,255,1);
	background-color: transparent;
	border-radius: 0px 0px 0px 0px;
}


.menu{
	background-color: rgba(41,171,226,1);
	height:60px;
}

.menuitem {
	list-style: none;
	display: list-item;
	float: left;
	height: 40px;
	padding:10px;
	margin-top:5px;
}

.menuitem a{
	font-size: 15pt;
	background-color: transparent;
	border: 0px;
	border-radius: 5px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	color:rgba(255,255,255,1);
}

.menuitem a:hover{
	text-decoration: none;
	background-color: rgba(1,1,1,.2);
}

.slogancard{
	margin-top:90px;
	color:rgba(255,255,255,1);
}
.slogan{
	font-size: 40pt;
	
}
.subslogan{
	font-size: 20pt;
	
}
.card{
	height: 200px;
	margin:50px;
	text-align: center;
	background-color: rgba(225,225,225,.4);
}

.ubtn{
	width:70%;
	
}

.cardfra{
	position: relative;
	top: 40px;
}

.fra{
	width: 100%;
	text-align: center;
	/*background-color: rgba(224,224,224,.4);*/
	padding:15px;
}
.ufontstyle1{
	color: rgba(255,255,255,1);
	font-size: 15pt;
}
.ufontstyle1:hover{
	color: rgba(255,255,255,.4);
	text-decoration: none;
}
.imgpreview img{
	width:100%;
}

.title{
	margin:30px;
	padding:10px;
	font-size: 30pt;
	text-align: left;
}

.subtitle{
	padding:10px;
	font-size: 15pt;
}

.piccard{
	background-color: rgba(224,224,224,.4);
}
.logosmall{
	height:60px;
	margin:10px;
}

#myCarousel {  
    width: 100%;  
}  
.carousel-indicators {  
    bottom: -5px;  
}  
#carousel-example-generic {  
  
}  
.item{
	height:500px;
}
.item img{
	height:100%;
}
#mobile-menu{
	display: none;
}
.headleft{
	width:100%;
}
.headright{
	width: 0px;
}
.para1{
	margin:30px;
	padding:10px;
}
.ufoot{
	padding-top: 20px;
	padding-bottom: 20px;
}

.ufoot span{
	color: rgba(255,255,255,1);
}
.qr img{
	width:30%;
	margin:auto;
}

.qr{
	text-align: center;
}

@media ( max-width : 450px) {
	html{
		margin-left:0px;
		margin-right:0px;
	}
	#mainframe{
		margin-top:60px;
		width:100%;
		border: 0px;
		min-height: 93vh;
	}
	.logosmall{
		height:30px;
		margin:20px;
	}
	.uhead{
		background-color: rgba(255,255,255,1);
		margin-top:0px;
	}
	.headleft{
		width:90%;
	}
	.headright{
		
	}
	.umenumobile{
		background-color: rgba(41,171,226,1);
		height:45px;
	}
	.subtitle{
		padding:10px;
		font-size: 10pt;
	}
	.title{
		margin:15px;
		padding:10px;
		font-size: 15pt;
		text-align: left;
	}
	#mobile-menu{
		display: block;
		background-color: rgba(41,171,226,1);
		height:45px;
		border:0px;
		color: rgba(255,255,255,1);
		width: 100%;
	}
	#mobile-menu img{
		height:30px;
	}
	.menuitem {
		width: 100%;
		float: none;
		list-style: none;
		display: list-item;
		background-color: rgba(41,171,226,1);
		margin-top:0px;
	}
	.menuitem a{
		font-size: 10pt; 
	}
	.menuitem button{
		width:100%;
		padding:5px;
	}
	.logo{
		margin-left:0px;
		margin-top:10px;
		height:25px;
		text-align: center;
	}
	.mainlogoholder{
		padding:0px;
		text-align: left;
	}
	.menu{
		display: none;
		background-color: rgba(41,171,226,1);
		height:35px;
		width: 100%;
	}
	.item{
		height:200px;
	}
	.item img{
		height:100%;
	}
	.mainbanner{
		/*background-image: url("../res/img/cargoship.png");
		background-repeat: no-repeat;
		background-size:100%;*/
		height:200px;
	}
	.maincontent,.router{
		
	}
	.imgpreview img{
		width:90%;
	}
	.ufontstyle1{
		color: rgba(255,255,255,1);
		font-size: 10pt;
	}
	.piccard{
		padding:5px;
		width: 100%
	}
	.router{
		height:200px;
	}
	.router .title{
		margin-top: 70px;
		padding:20px;
	}
}