.f0{
	
}

.f1{
	font-size: 10pt;
}
.f2{
	font-size: 13pt;
}
.f3{
	font-size: 16pt;
}
.f4{
	font-size: 19pt;
}
.f5{
	font-size: 22pt;
}
.f6{
	font-size: 25pt;
}
.f7{
	font-size: 28pt;
}
.f8{
	font-size: 31pt;
}
.f9{
	font-size: 34pt;
}